<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/bf51d090d6.js" crossorigin="anonymous"></script>
    <title>Components</title>
</head>
<body>
    


    <nav class="navbar navbar-expand-lg bg-dark ">
        <div class="container-fluid">
          <a class="navbar-brand text-secondary" href="#" >Project Exrecise #9</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-secondary" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item active" aria-current="true">
                <a class="nav-link text-secondary active" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="#" id="navbarBadge" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contact <span class="badge text-bg-secondary">3</span>
                </a>
              <li class="nav-item">
                <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
                <div class="input-group flex-nowrap">
                    
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
                  <div class="input-group flex-nowrap">
                   
                    <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
                  </div>
                  
                    </form>
                    <button type="button" class="btn btn-success">Sign In</button>
                  </nav>

            </form>

          </div>
        </div>
      </nav>
      <div class="p-5 bg-light">
        <h1 class="mb-3">Hello, World!</h1>
        <h4 class="mb-3">This is Exercise #9. It includes a large callout called a jumbotron and three supporting pieces of content </h4>
        <a class="btn btn-primary active" href="" role="button">Learn More</a>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <p class="fs-1">Heading </p>
        </div>
        <div class="col-md-3">
            <p class="fs-1">Heading</p>
        </div>
        <div class="col-md-3">
            <p class="fs-1">Heading <span class="badge bg-info">New</span></p>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, earum temporibus deleniti praesentium, magni error nobis doloremque ipsa nemo quo excepturi. Dolorem, eos necessitatibus minus esse omnis natus maiores! Aut.
              
              <button type="button" class="btn btn-outline-dark "><i class="fa-solid fa-chart-simple"></i> View Details </button>
            </div>
            
            <div class="col-md-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, earum temporibus deleniti praesentium, magni error nobis doloremque ipsa nemo quo excepturi. Dolorem, eos necessitatibus minus esse omnis natus maiores! Aut.
              <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-mobile-screen"></i> View Details </button>
            </div>
            <div class="col-md-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, earum temporibus deleniti praesentium, magni error nobis doloremque ipsa nemo quo excepturi. Dolorem, eos necessitatibus minus esse omnis natus maiores! Aut.
                <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-location-dot"></i> View Details</button> 
                
            </div>
        </body>
</html>